<!DOCTYPE html>
<html>
<head>
  <title>SeemsRateable</title>
  <%= stylesheet_link_tag    "seems_rateable/application", media: "all" %>
  <%= javascript_include_tag "seems_rateable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
